<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- org.hnist.mapper.TeacherMapper对应的接口 -->
<mapper namespace="org.hnist.mapper.AdminUserMapper">

	<!-- 查找最大的序号 -->
	<select id="findMaxAdminUser" resultType="Integer">
		select Max(adminId) from AdminUser 
	</select>
	
	<!-- 导入数据的方法 -->
	<insert id="insertAdminUser" parameterType="AdminUser"> 
		insert into AdminUser(adminId,adminName,adminPassword,adminDepartment,adminPosition,adminGrades,adminPhoneNumber,adminEmail)
					values(#{adminId},#{adminName},#{adminPassword},#{adminDepartment},#{adminPosition},#{adminGrades},#{adminPhoneNumber},#{adminEmail})
	</insert>
	
	<!-- 删除数据的方法 -->
	<delete id="deleteAdminUser" parameterType="Integer">
		delete from AdminUser where adminId=#{adminId}
	</delete>
	
	<!-- 更新数据的方法 -->
	<update id="updateAdminUser" parameterType="Integer">
		update AdminUser
			<set>
				<if test="adminName !=null and adminName=''">
					adminName=#{adminName},
				</if>
				<if test="adminPassword !=null and adminPassword=''">
					adminPassword=#{adminPassword},
				</if>
				<if test="adminDepartment !=null and adminDepartment=''">
					adminDepartment=#{adminDepartment},
				</if>
				<if test="adminPosition !=null and adminPosition=''">
					adminPosition=#{adminPosition},
				</if>
				<if test="adminGrades !=null and adminGrades=''">
					adminGrades=#{adminGrades},
				</if>
				
				
				<if test="adminPhoneNumber !=null and adminPhoneNumber=''">
					adminPhoneNumber=#{adminPhoneNumber},
				</if>
				<if test="adminEmail !=null and adminEmail=''">
					adminEmail=#{adminEmail}
				</if>
			</set>
			
			where adminId=#{adminId}
	</update>
	
	<!-- 查找所有的管理员 -->
	<select id="findAllAdminUser" resultType="AdminUser">
		select * from AdminUser order by adminId
	</select>
	
	<!-- 根据任届查找管理员 -->
	<select id="findByAdminGrades" parameterType="String" resultType="AdminUser">
		select * from AdminUser where adminGrades=#{adminGrades}
	</select>
</mapper>