<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- org.hnist.mapper.TeacherMapper对应的接口 -->
<mapper namespace="org.hnist.mapper.AdminUserMapper">

	<!-- 查找最大的序号 -->
	<select id="findMaxAdminUser" resultType="Integer">
		select Max(adminId) from AdminUser 
	</select>
	
	<!-- 登录的方法 -->
	<select id="login" parameterType="String" resultType="AdminUser">
		select * from AdminUser where adminPhoneNumber=#{adminPhoneNumber} and adminPassword=#{adminPassword}
	</select>
	
	<!-- 导入数据的方法 -->
	<insert id="insertAdminUser" parameterType="AdminUser"> 
		insert into AdminUser(adminId,adminName,adminPassword,adminDepartment,adminPosition,adminGrades,adminPhoneNumber)
					values(#{adminId},#{adminName},#{adminPassword},#{adminDepartment},#{adminPosition},#{adminGrades},#{adminPhoneNumber})
	</insert>
	
	<!-- 删除数据的方法 -->
	<delete id="deleteAdminUser" parameterType="Integer">
		delete from AdminUser where adminId=#{adminId}
	</delete>
	
	<!-- 更新数据的方法 -->
	<update id="updateAdminUser" parameterType="Integer">
		update AdminUser
			<set>
				<if test="adminName !=null and adminName=''">
					adminName=#{adminName},
				</if>
				<if test="adminPassword !=null and adminPassword=''">
					adminPassword=#{adminPassword},
				</if>
				<if test="adminDepartment !=null and adminDepartment=''">
					adminDepartment=#{adminDepartment},
				</if>
				<if test="adminPosition !=null and adminPosition=''">
					adminPosition=#{adminPosition},
				</if>
				<if test="adminGrades !=null and adminGrades=''">
					adminGrades=#{adminGrades},
				</if>
				<if test="adminPhoneNumber !=null and adminPhoneNumber=''">
					adminPhoneNumber=#{adminPhoneNumber}
				</if>
				
			</set>
			
			where adminId=#{adminId}
	</update>
	
	<!-- 查找所有的管理员 -->
	<select id="findAllAdminUser" resultType="AdminUser">
		select * from AdminUser order by adminId
	</select>
	
	<!-- 根据任届查找管理员 -->
	<select id="findByAdminGrades" parameterType="String" resultType="AdminUser">
		select * from AdminUser where adminGrades=#{adminGrades}
	</select>
	
	<!-- 根据电话号码查找管理员 -->
	<select id="findByAdminPhoneNumber" parameterType="String" resultType="AdminUser">
		select * from AdminUser where adminPhoneNumber=#{adminPhoneNumber}
	</select>
	
	<!-- 更改密码之查询用户 -->
	<select id="findIdByAnswer" parameterType="AdminUser" resultType="Integer">
		select adminId from AdminUser where adminName=#{adminName} and adminPhoneNumber=#{adminPhoneNumber}
	 </select>
	 
	 <update id="updateUserPwd" parameterType="AdminUser">
	 	update AdminUser
	 		<set>
	 			<if test=" adminPassword != null or adminPassword != '' ">
	 				adminPassword=#{adminPassword}
	 			</if>
	 		
	 		</set>
	 		where adminId=#{adminId}
	 </update>
	
</mapper>