<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- org.hnist.mapper.TeacherMapper对应的接口 -->
<mapper namespace="org.hnist.mapper.CollegeMapper">

	<!-- 查找最大的学院序号 -->
	<select id="findMaxCollegeId" resultType="Integer">
		select Max(collegeId) from College
	</select>
	
	<!-- 添加学院的方法 -->
	<insert id="InsertCollege" parameterType="College">
		insert into College(collegeId,collegeNo,collegeName,collegeStutas)
					values(#{collegeId},#{collegeNo},#{collegeName},#{collegeStutas})
	</insert>
	
	<!-- 更新学院数据的方法 -->
	<update id="updateCollege" parameterType="college">
		update College 
			<set>
				<if test="collegeNo!=null and collegeNo!=''">
					collegeNo=#{collegeNo},
				</if>
				<if test="collegeName!=null and collegeName!=''">
					collegeName=#{collegeName},
				</if>
				<if test="collegeStutas!=null and collegeStutas!=''">
					collegeStutas=#{collegeStutas}
				</if>
				
				where collegeId=#{collegeId}
			
			</set>
	</update>
	
	<!-- 删除学院的方法 -->
	<delete id="deleteCollege" parameterType="Integer">
		delete from College where collegeId=#{collegeId}
	</delete>
	
	<!-- 查找所有的学院 -->
	<select id="findAllCollege" resultType="College">
		select * from College order by collegeId
	</select>
	
	
</mapper>